<ng-container *ngFor="let alert of alerts">
  <div class="alert-container" *ngIf="alert.isVisible">
    <div class="alert" 
      [style.backgroundColor]="alertBackgroundColor(alert.type)"
      [style.borderColor]="alertBorderColor(alert.type)"
      [@slideInOut]="'in'"
    >
      <div class="alert-icon">
        <fa-icon *ngIf="alert.type === 'success'" [icon]="faCheck" class="icon-success"></fa-icon>
        <fa-icon *ngIf="alert.type === 'warning'" [icon]="faExclamationTriangle" class="icon-warning"></fa-icon>
        <fa-icon *ngIf="alert.type === 'error'" [icon]="faTimesCircle" class="icon-error"></fa-icon>
      </div>
      <div class="alert-message">
        {{alert.message}}
      </div>
      <button class="close-button" (click)="close(alert)">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
</ng-container>