app-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  //display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.app-container {
  background: #1a0938;
  min-height: 100vh;
}