.title-mentoring {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.google-login-btn {
  background-color: #6429cd33;
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6429cd;
  font-size: 0.8rem;
  margin: auto;
  margin-top: 1rem;
}

.google-logo {
  height: 20px;
  margin-right: 10px;
}