@use '@angular/material' as mat;

@include mat.core();


$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$pragma-palette: (
  50: #efe7fa,
  100: #d5c3f1,
  200: #b99ce9,
  300: #9c72e1,
  400: #8551db,
  500: #6e2fd3,
  600: #632acd,
  700: #5421c4,
  800: #451abd,
  900: #2807b3,
  A100: #d5c3f1,
  A200: #b99ce9,
  A400: #8551db,
  A700: #5421c4,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$accent-palette: (
  50: #eae9ff,
  100: #cac7fd,
  200: #a4a2fb,
  300: #7d7cfa,
  400: #5f5cf8,
  500: #4139f3,
  600: #3d2fe7,
  700: #3321da,
  800: #2b0acf,
  900: #2400b5,
  A100: #cac7fd,
  A200: #a4a2fb,
  A400: #5f5cf8,
  A700: #3321da,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$my-primary: mat.define-palette($pragma-palette, 500);
$my-accent: mat.define-palette($pragma-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));